<!doctype html>
<html xmlns:th="http://thymeleaf.org" lang="en">  
<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<title>Thymeleaf/Bootstrap</title>
</head>
	<body>
				
	<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th>E-mail</th>
						<th>R$</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="customer : ${customers}">
						<td class="text-center" th:text="${customer.id}"></td>
						<td th:text="${customer.email}"></td>
						<td th:text="|R$ ${{customer.valueOfPurchase}}|"></td>
					</tr>
					<tr th:if="${#lists.isEmpty(customers)}">
						<td colspan="6">There is no customers!</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		<a href="/" class="btn btn-secondary glyphicon glyphicon-arrow-left">&nbsp;Back</a>
		
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/jquery.maskMoney.min.js"></script>
		<script type="text/javascript" src="/js/util.js"></script>
	</body>
</html>